.SeedFinder {
    &-TopContainer {
        .TopContainer-inner {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 30px;

            @include mobile {
                max-width: 100%;
                display: block;
                margin-block-start: 20px;
            }

            .Left-Container {
                border-right: 1px solid #ebebeb;

                @include mobile {
                    border: none;
                }

                .Short-Question {
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .Short-Question1 {
                    padding: 20px 0;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #000;
                    font-weight: 500;

                    @include mobile {
                        display: flex;
                        flex-basis: auto;
                        overflow: auto;
                        padding: 0;
                        border-block-end: 1px solid var(--input-border-color);

                        &::-webkit-scrollbar {
                            width: 0px;
                            background: transparent;
                        }
                    }

                    .QuestionName1 {
                        font-size: 14px;
                        font-weight: 600;
                        color: #a6a6a5;
                        border-top: 1px solid #ebebeb;
                        text-align: start;

                        &:first-of-type {
                            border-top: none;
                        }

                        @include mobile {
                            flex: 0 0 auto;
                            border-top: none;
                            width: 350px;
                        }

                        &::before {
                            display: none;
                        }

                        &.Extra {
                            border-bottom: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid #ebebeb;

                            @include mobile {
                                border-bottom: none;
                            }
                        }

                        .QuestionName {
                            width: 100%;
                            font-size: 14px;
                            font-weight: 500;
                            color: #a6a6a5;
                            padding: 10px;
                            cursor: pointer;
                            display: flex;
                            column-gap: 15px;
                            text-align: start;

                            p {
                                color: inherit;
                                font-weight: 500;

                                @include mobile {
                                    text-align: start;
                                    width: 260px;
                                    margin: auto;
                                }
                            }

                            @include mobile {
                                line-height: 18px;
                                text-align: center;
                                row-gap: 1rem;
                                align-items: center;
                                font-size: 10px;
                            }

                            &.spanChecked {
                                color: #000;

                                div {
                                    background-color: #000;
                                }
                            }

                            &-active {
                                color: #739536;
                                border-inline-end: 2px solid #739536;

                                div {
                                    background-color: #739536;
                                }

                                @include mobile {
                                    border-inline-end: none;
                                }
                            }

                            div {
                                padding: 12px;
                                background-color: #a6a6a5;
                                color: white;
                                font-size: 22px;
                                width: 42px;
                                height: 42px;
                                text-align: center;
                                line-height: 20px;

                                @include mobile {
                                    padding: 2px;
                                    border-radius: 2px;
                                    font-size: 14px;
                                    width: 34px;
                                    height: 36px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                &.active {
                                    background-color: #739536;
                                }
                            }
                        }
                    }
                }
            }

            .result-data {
                text-align: center;
                flex-basis: 80%;
            }

            .SeedFinder {
                @include mobile {
                    max-width: 100%;
                    padding-block-start: 2rem;
                    padding-inline: 15px;
                }

                .Seedsman_block {
                    align-items: center;
                    margin-block-end: 40px;

                    .Questions {
                        text-align: start;
                        font-size: 30px;
                        font-weight: 600;
                        text-transform: none;

                        @include mobile {
                            font-size: 16px;
                        }
                    }

                    .message {
                        text-align: start;
                        margin: 20px 0;
                        font-size: 16px;
                        font-weight: 500;

                        @include mobile {
                            font-size: 12px;
                        }
                    }

                    .OptionContainer {
                        width: 100%;
                        margin: auto;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 20px;
                        justify-content: center;
                        margin-block-end: 30px;

                        @include mobile {
                            display: block;
                        }

                        .item {
                            text-align: center;
                            cursor: pointer;
                            display: flex;
                            gap: 1rem;
                            border: 1px solid #a3a3a3;
                            padding: 1rem;

                            &:hover {
                                box-shadow: 4px 9px 39px #0000000f;
                            }

                            &_isDisabled {
                                opacity: 0.5;
                                pointer-events: none;
                            }

                            @include mobile {
                                margin: 20px 0;
                                width: 100%;
                            }

                            .OptionDetails {
                                text-align: start;
                                padding-inline-end: 1rem;
                                width: 200px;

                                h3 {
                                    margin-block-start: 0;
                                    color: inherit;
                                }

                                &-description {
                                    a {
                                        font-size: 12px;
                                        margin-inline-start: 5px;
                                    }
                                }
                            }

                            .OptionImage_section {
                                width: 120px;
                                height: 100px;
                                background-color: #eee;

                                .OptionImage {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }

                            .OptionName {
                                text-align: center;
                                font-size: 16px;
                                font-weight: 500;

                                @include mobile {
                                    font-size: 13px;
                                }
                            }

                            .Icon {
                                position: absolute;
                                inset-inline-end: 0.5rem;
                                inset-block-start: 0.5rem;

                                @include mobile {
                                    inset-inline-end: 1rem;
                                    inset-block-start: 1rem;

                                    img {
                                        width: 24px;
                                    }
                                }
                            }

                            input {
                                position: absolute;
                                height: 100%;
                                border: none;
                                background-color: transparent;
                                cursor: pointer;
                            }
                        }

                        .active {
                            background-color: var(--color-black);

                            h3 {
                                color: #fff;
                            }

                            div {
                                color: #fff;
                            }
                        }
                    }

                    .btn_container {
                        display: flex;
                        justify-content: flex-end;

                        @include mobile {
                            position: fixed;
                            inset-block-end: 0;
                            inset-inline: 0;
                            z-index: 2;
                            border-block-start: 1px solid #d6d6d6;
                            background-color: var(--color-white);
                        }

                        .btn {
                            background-color: #739536;
                            color: white;
                            padding: 10px 20px;
                            font-size: 14px;
                            cursor: pointer;

                            @include mobile {
                                font-size: 12px;
                                width: 100%;
                                margin: 0 1rem 1rem;
                                height: var(--button-height);
                            }
                        }

                        .isdisabled {
                            opacity: 0.5;
                            cursor: unset;
                        }
                    }
                }
            }
        }
    }

    &-result_container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-block-end: 60px;

        @include mobile {
            padding-inline: 15px;
            margin-block-start: 20px;
        }

        .SeedFinder {
            &-heading {
                font-size: 30px;
                font-weight: 500;

                @include mobile {
                    font-size: 18px;
                }
            }

            &-Subheading {
                font-size: 25px;
                font-weight: 500;

                @include mobile {
                    font-size: 16px;
                }
            }
        }

        .top-product-container {
            border-bottom: 2px solid #eee;
            padding-block-end: 40px;

            .top-product {
                display: flex;
                width: auto;
                border: 1px solid #739536;
                padding: 15px;
                position: relative;
                justify-content: space-between;

                @include mobile {
                    flex-direction: column;
                    row-gap: 20px;
                }

                .image-wrapper {
                    width: 22%;

                    @include mobile {
                        width: 100%;
                    }

                    .product-image {
                        margin: 0px;
                        display: flex;
                        padding: 0px;
                        max-width: 100%;
                        height: 240px;
                        align-items: center;
                        justify-content: center;
                        background-color: #eee;

                        img {
                            height: 100%;
                            object-fit: contain;
                            max-width: 100%;
                        }
                    }
                }

                .info-details {
                    width: 75%;
                    display: flex;
                    justify-content: space-between;

                    @include mobile {
                        flex-direction: column;
                        width: 100%;
                        row-gap: 20px;
                    }

                    .product-details {
                        display: flex;
                        row-gap: 10px;
                        width: 100%;
                        flex-direction: column;

                        @include mobile {
                            flex-direction: column;
                        }

                        .product-name {
                            font-size: 20px;
                            color: #000;
                            font-weight: 600;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-align: start;
                            cursor: pointer;

                            @include mobile {
                                font-size: 16px;
                                height: 40px;
                            }
                        }

                        .product-attributes {
                            display: flex;
                            justify-content: space-between;

                            @include mobile {
                                flex-direction: column;
                            }

                            .properties-title {
                                p {
                                    font-size: 15px;
                                    margin-block-end: 10px;
                                }

                                .product-properties {
                                    li { 
                                        margin-block-end: 10px;
                            
                                        @include mobile {
                                            margin-block-end: 12px;
                                        }

                                        .attribut-status {
                                            border-radius: 50%;
                                            padding-inline: 3px;
                                            margin-inline-end: 10px;

                                            svg {
                                                width: 12px;
                                                height: 8px;
                                                object-fit: contain;
                                                inset-block-start: -1px;
                                                stroke: white;
                                            }
                                        }

                                        .property {
                                            &-negative {
                                                background-color: red;
                                            }

                                            &-positive {
                                                background-color: green;
                                            }
                                        }

                                        .attribute-name {
                                            font-size: 15px;
                                            color: #a39b96;
                                        }
                                    }
                                }
                            }

                            .button-wrapper {
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                                column-gap: 20px;

                                @include mobile {
                                    flex-direction: column;
                                    row-gap: 10px;
                                }

                                .product-price {
                                    display: flex;
                                    align-items: center;
                                    column-gap: 10px;

                                    @include mobile {
                                        margin-inline-end: auto;
                                    }
                                }

                                .go-to-product-button {
                                    color: #fff;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    font-weight: 700;
                                    background-color: #739536;
                                    border: 1px solid #739536;
                                    padding-block: 15px;
                                    padding-inline: 12px;
                                    cursor: pointer;

                                    @include mobile {
                                        width: 100%;
                                        padding-block: 15px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .Perfect-match-products {
            border-bottom: 2px solid #eee;
            padding-block-end: 40px;
        }

        .Partial-Products {
            margin-block-start: 30px;
        }

        .Product-list-container {
            .SeedFinder-Subheading {
                margin-block-end: 40px;
            }

            .Product-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 40px;

                @include mobile {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}
